<div class="container-fluid">
    <div class="row">
        <div class="col">
            <form #register="ngForm">
                <h2>Register</h2>
                <dl>
                    <dt>User Name</dt>
                    <dd><input type="text" required minlength="4"  ngModel name="username" #username="ngModel"></dd>
                    <dd class="text-danger" *ngIf="(username.invalid && register.submitted) || (username.touched)">
                        <span *ngIf="username.errors?.['required']">User Name Required</span>
                        <span *ngIf="username.errors?.['minlength']">Name too short ..</span>
                    </dd>
                    <dt>Age</dt>
                    <dd><input type="number" required ngModel name="age" #age="ngModel"></dd>
                    <dd class="text-danger" *ngIf="(age.touched && age.invalid) || (register.submitted && age.invalid)">
                        <span>Age required</span>
                    </dd>
                    <dt>Mobile</dt>
                    <dd><input type="text" pattern="\+91\d{10}" required ngModel name="mobile" #mobile="ngModel"></dd>
                    <dd class="text-danger" *ngIf="(mobile.touched && mobile.invalid) || (mobile.invalid && register.submitted)">
                        <span *ngIf="mobile.errors?.['required']">Mobile Required</span>
                        <span *ngIf="mobile.errors?.['pattern']">Invalid mobile</span>
                    </dd>
                    <dt>Select Your City</dt>
                    <dd>
                        <select ngModel #city="ngModel" name="city" (change)="verifyCity(city.value)">
                            <option value="-1">Choose City</option>
                            <option value="delhi">Delhi</option>
                            <option value="hyd">Hyderabad</option>
                        </select>
                    </dd>
                    <dd class="text-danger" *ngIf="isCityInValid">
                        Please Select Your City
                    </dd>
                    <dt>Enter Even Number</dt>
                    <dd><input ngModel #even="ngModel" name="even" (blur)="verifyEven(even.value)" type="text"></dd>
                    <dd class="text-danger" *ngIf="isEvenInvalid">
                        Not an Even Number
                    </dd>
                </dl>
                <button >Register</button> 
            </form> 
        </div>
    </div>
    
</div>