<div class="container-fluid">
    <h2>Products Details</h2>
    <dl>
        <dt>Title</dt>
        <dd>{{products.title}}</dd>
        <dt>Preview</dt>
        <dd>
            <img [src]="products.image" width="100" height="100">
        </dd>
        <dt>Price</dt>
        <dd>{{products.price}}</dd>
        <dt>Rating</dt>
        <dd>
            <span class="bi bi-star-fill text-success"></span>
            {{products.rating.rate}} [{{products.rating.count}}]
        </dd>
    </dl>
    <div>
        <button (click)="prevClick()" class="btn btn-primary" m2-2> &laquo;</button>
        <button (click)="nextClick()" class="btn btn-primary"> &raquo;</button>
    </div>
</div>