<h2>Details</h2>
<div class="row">
    <div class="col">
        <img [src]="product.image" widht="200" height="200">
        <dl>
            <dt>Title</dt>
            <dd>{{product.title}}</dd>
            <dt>Price</dt>
            <dd>{{product.price}}</dd>
            <dt>Rating</dt>
            <dd><span class="bi bi-star-fill text-success"></span>{{product.rating.rate}} [{{product.rating.count}}]</dd>
        </dl>
    </div>
    <div class="col">
        <p>{{product.description}}</p>
        <a routerLink="/products/{{product.category}}">Back to Products</a>
    </div>
</div>
