<div class="container-fluid w-50">
    <h2>Traditional Iteratior</h2>
    <div style="height:300px" class="border overflow-auto border-3 border-primary p-2">
        <ul  class="list-unstyled">
            <li *ngFor="let item of products">
                <img [src]="item.image" widht="100" height="100">
            </li>
        </ul>
    </div>
    <h2>Virtual Scroll</h2>
    <cdk-virtual-scroll-viewport itemSize="100" style="height:200px; border: 2px solid black; padding: 12px;">
        <ul class="list-unstyled">
            <li *cdkVirtualFor="let item of products">
                <img [src]="item.image" widht="100" height="100">
            </li>
        </ul>
    </cdk-virtual-scroll-viewport>
</div>