<div class="container-fluid">
  <div class="card align-items-center m-5 p-1 bg-light">
      <h2 style="text-align: center;">Welcome To Pushpanjali Book Store</h2>
      <div class="card-body">
          <div>
            <img src="../../../assets/book.jpg" width="100">
          </div>
      </div>
      <button (click)="getOrderDetailsByUserId()" class="btn btn-info align-content-center">Click To See Your Orders</button>
  </div> 
  <div>
    <table *ngIf="clicked" class="table table-striped table-bordered table-hover table-group-divider">
      <thead class="text-center bg-info">
        <th>Category</th>
        <th>Product Name</th>
        <th>Count</th>
        <th>Price</th>
        <th>Order Time</th>
        <th>Status</th>
      </thead>
      <tbody>
        <tr class="p-5 text-center" *ngFor="let order of orders">
          <td>{{order.category}}</td>
          <td>{{order.productName}}</td>
          <td>{{order.noOfProduct}}</td>
          <td>{{order.totalPrice | currency:"INR"}}</td>
          <td>{{order.creationTime | date: 'dd-MM-yyyy HH:mm'}}</td>
          <td>{{order.status}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
