<div class="container-fluid">
 <header class="bg-danger text-white text-center p-2 mt-2">
    <h1><span class="bi bi-cart4"></span> Shopping Online</h1>
 </header>
 <section class="mt-2 row">
    <nav class="col-2">
        <div>
            <label for="">Select a Category</label>
            <select (change)="categoryChange($event)" class="form-select">
                <option *ngFor="let item of categories" [value]="item">
                    {{item | uppercase}}
                </option>
            </select>
        </div>
    </nav>
    <main class="col-8">
        <div class="d-flex flex-wrap overflow-auto" style="height: 500px;">
            <div class="card p-2 m-2" style="width: 200px;" *ngFor="let item of products">
                <img [src]="item.image" class="card-img-top" height="150px">
                <div class="card-header" style="height:160px">
                    <p>{{item.title}}</p>
                </div>
                <div class="card-body">
                    <dl>
                        <dt>Price</dt>
                        <dd>{{item.price}}</dd>
                        <dt>Rating</dt>
                        <dd>{{item.rating.rate}} [{{item.rating.rate}}]</dd>
                    </dl>
                </div>
                <div class="card-footer">
                    <button (click)="addToCart(item.id)" class="btn btn-danger w">
                        <span class="bi bi-cart4"></span>
                        Add to Cart
                    </button>
                </div>
            </div>
        </div>
    </main>
    <aside class="col-2">
        <button class="btn btn-danger">
            <span  class="bi bi-cart"></span>
            [{{cartCount}}] Your Cart
        </button>
    </aside>
 </section>
</div>