<div class="container-fluid">
    <h2>Tutorials</h2>
    <dl>
        <ng-container *ngFor="let item of topics">
            <dt>{{item.Title}}</dt>
            <dd>{{item.Definition}}</dd>
        </ng-container>
    </dl>
    <details *ngFor="let item of topics">
        <summary>{{item.Title}}</summary>
        <p>{{item.Definition}}</p>
    </details>
    <fieldset *ngFor="let item of topics">
        <legend>{{item.Title}}</legend>
        <p>{{item.Definition}}</p>
    </fieldset>
    <h2>Menu</h2>
    <ol>
        <li *ngFor="let item of menu">
            {{item.Category}}
            <ul>
                <li *ngFor="let product of item.Products">
                    {{product}}
                </li>
            </ul>
        </li>
    </ol>
    <h2>Menu</h2>
    <select>
        <optgroup *ngFor="let item of menu" [label]="item.Category">
            <option *ngFor="let product of item.Products">{{product}}</option>
        </optgroup>
    </select>
</div>