<div class="container-fluid">
    <h2>Product Details</h2>
    <dl>
        <dt>Title</dt>
        <dd>{{product.title}}</dd>
        <dt>Price</dt>
        <dd>{{product.price}}</dd>
        <dt><button (click)="toggleClick()" class="btn w-25 btn-primary">{{buttonText}}</button></dt>
        <p><b>Toggle</b></p>
        <dd *ngIf="true; then thenBlock">

        </dd>
        <ng-template #description>
            <p class="w-25">{{product.description}}</p>
        </ng-template>
        <ng-template #preview>
            <img [src]="product.image" width="100" height="100">
        </ng-template>
    </dl>
</div>