<div class="container-fluid">
    <header class="text-white p-2 mt-2">
        <div class="row">
            <div class="col-2 bg-white">
                <img src="../../../assets/flag.webp" height="50" width="50">
            </div>
            <div class="col-10" style="background-color: blueviolet;">
                <h1 class="text-center">GCM RAPTOR VALIDATION TOOL</h1>
            </div>
        </div>
    </header>
    <section class="row">
       <nav class="col-2">
           <div>
                <ul class="menu">
                    <a href="#"><li><h4>Home</h4></li></a>
                    <a href="#"><li><h4>Setting</h4></li></a>
                    <a href="#"><li><h4>Logout</h4></li></a>
                </ul>
           </div>
       </nav>
       <main class="col-10">
            <home></home>
       </main>   
    </section>
    <footer class="text-white text-center p-2">
        <h1>All Copyright @Southern California Edition</h1>
    </footer>
</div>