<div class="container-fluid">
    <button name="A" (click)="displayView($event)" class="btn btn-primary">Login</button>
    <button name="B" (click)="displayView($event)" class="btn btn-danger">Register</button>
    <button name="C" (click)="displayView($event)" class="btn btn-dark">Change Password</button>

    <h2>Swicth Demo</h2>
    <div [ngSwitch]="viewName">
        <div *ngSwitchCase="'A'">
            A-Block
        </div>
        <div *ngSwitchCase="'B'">
            B-Block
        </div>
        <div *ngSwitchCase="'C'">
            C-Block
        </div>
        <div *ngSwitchDefault>
            Default-Block
        </div>
    </div>
</div>