button{
    background-color: blueviolet;
    color: white;
    border: 0px ;
}
li{
    list-style-type: none;
}
.card {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
.form-field {
  margin-right: 150px;
  }
.time{
  margin-right: 184px;
}