<div class="container-fluid">
    <header class="d-flex justify-content-between p-4" style="background-color: blueviolet;">
        <div class="nav-title">
            <img src="../../../assets/InfyMe_Logo.svg">
        </div>
        <div class="d-flex">
            <div class="me-5">
                <button>Web Apps/Services</button>
            </div>
            <div class="me-3">
                <span style="color: white;" class="bi bi-question-circle"></span>
            </div>
            <div class="me-3">
                <span style="color: white;" class="bi bi-bell"></span> 
            </div>
            <div>
                <span><img style="border-radius: 50% ;" src="../../../assets/MyPhoto.jpeg" width="50" height="50"></span>
            </div>
        </div>
    </header>
    <div class="p-5">
        <section>
            <main>
                <div class="row">
                    <div class="col-2">
                        <h2>Work From Home</h2>
                        <div class="card">
                            <div class="card-body" style="width: 170%; height: 170px;">
                                <ul>
                                    <li class="mb-4"><h3>Apply WFH</h3></li>
                                    <li><h3>Manage WFH</h3></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-9 p-5">
                        <h1 style="color: black; font-family: Arial, Helvetica, sans-serif;">Apply WFH</h1>
                        <div class="card mb-2">
                            <div class="card-body">
                                <h3>Apply WFH</h3>
                                <p>"We are now in Hybrid work model, you can avail below mentioned WFH days per month and work from the office on the remaining weekdays. For additional WFH days, request would be marked Exception and will be subjected to your Manager approval”.</p>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <div>
                                                <button class="btn btn-light">Febrary</button>
                                                <span>
                                                    <p>
                                                        Availed: 8 Day(s)
                                                        Balance: 3 Day(s)
                                                    </p>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                               <form [formGroup]="myForm">
                                <div class="d-flex">
                                    <mat-form-field appearance="fill" class="form-field">
                                        <mat-label>From Date <span style="color: red;">&nbsp;*</span></mat-label>
                                        <input matInput [matDatepicker]="datepicker" formControlName="selectedDate">
                                        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                                        <mat-datepicker #datepicker></mat-datepicker>
                                   </mat-form-field>
    
                                    <mat-form-field appearance="fill" class="form-field">
                                        <mat-label>To Date <span style="color: red;">&nbsp;*</span></mat-label>
                                        <input matInput [matDatepicker]="todate" formControlName="selectedDate">
                                        <mat-datepicker-toggle matSuffix [for]="todate"></mat-datepicker-toggle>
                                        <mat-datepicker #todate></mat-datepicker>
                                    </mat-form-field>
                                </div>

                                <div class="d-flex">
                                    <mat-form-field appearance="fill" class="time">
                                        <mat-label>From Date <span style="color: red;">&nbsp;*</span></mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                    <mat-form-field appearance="fill" class="time">
                                        <mat-label>To Date <span style="color: red;">&nbsp;*</span></mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Asset<span style="color: red;">&nbsp;*</span></mat-label>
                                        <mat-select value="Infosys Laptop/Desktop">
                                            <mat-option value="Infosys Laptop/Desktop">Infosys Laptop/Desktop</mat-option>
                                            <mat-option value="">Client Laptop/Desktop</mat-option>
                                            <mat-option value="">Personal Laptop/Desktop</mat-option>
                                            <mat-option value="">Mobile/Other devices</mat-option>
                                            <mat-option value="">No Asset</mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </div>
                                <div style="margin-left: 1%;">
                                    <label>I am able to work<span style="color: red;">&nbsp;*</span></label><br>
                                    <input type="radio" name="able" checked><span>&nbsp;&nbsp;</span>Yes<span>&nbsp;&nbsp;</span>
                                    <input type="radio" name="able"><span>&nbsp;&nbsp;</span> No
                                </div>
                                <div style="margin-top: 2%;">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Connectivity<span style="color: red;">&nbsp;*</span></mat-label>
                                        <mat-select value="Infosys network">
                                            <mat-option value="Infosys network">Infosys network</mat-option>
                                            <mat-option value="">Client network</mat-option>
                                            <mat-option value="">O365/calls</mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </div>
                               </form>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <button class="btn btn-close-white" style="background-color: black;">Submit</button>
                        </div>
                    </div>
                    <div class="col-1">
                       <div class="card">
                            <div class="card-body">

                            </div>
                       </div>
                    </div>
                </div>
            </main>
        </section>
    </div>
</div>