nav{
    background-color: beige;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.card{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 1.5);
}
.menu{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
#cart{
    background-color: lightgray;
}